<%= form_for(

[@publication.client, @publication]

) do |f| %>
  <% if publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>
      <ul>
      <% publication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Publication name:' %>
    <%= f.text_field :pub_name, :size=>"70", autofocus: true %>
  </div>
 
  <div style="display: none;">
    <%= f.text_field :client_id %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
    <%= link_to 'CANCEL & RETURN', root_path, class: 'button' %>
  </div>

<% end %>