<h1>Editing Publication: <i style="color: blue"><%= @publication.client.client_name %>/<%= @publication.pub_name %></i></h1>

<%= render 'form', publication: @publication %>

<!-- LISTING THE ARTICLES FOR THIS PUBLICATION,IF PRESENT -->
<% if @publication.articles.present? %>
	<hr>
	<%= @publication.articles.count %> articles for this publication
	<ol>
		<% @publication.articles.intra_publication_ordered.each do |article| %>
		<li>
			<%= link_to article.linkcaption, edit_article_path(article) %>
			[ <strong> <%= article.topic.super_topic.caption %>: 
			<%= article.topic.caption %> </strong>]
			<i style="color: blue"><%= article.caption %> </i>
			<a href="<%= article.link %>" target="_blank"><%= article.link %></a>
		</li>
	<% end %>
	</ol>
<% end %>

<!-- IF ADMIN AND NO ARTICLES, PUBLICATION MAY BE DELETED -->
<div>
	<% if current_user_admin?  && @publication.articles.empty? %>
		<br><br><br><br>
		<hr>
		Since the publication <i style="color: blue"><%= @publication.client.client_name %>: <%= @publication.pub_name %></i> has no articles, you may <br>

		<%= link_to 'DELETE THIS PUBLICATION', client_publication_path(@publication.client, @publication), class: 'scarybutton', method: :delete, data: {confirm: "Are you sure you want to delete #{@publication.pub_name}?"} %>
  <% end %>
</div>