<h1>Editing Article: <i style="color: blue"> 
	<% if @article.caption == "" %>
		 (not captioned)
		<% else %>
			<%= @article.caption %>
	<% end %>
</i></h1>
<p> <%= @article.pub_month %>/<%= @article.pub_year %> in <%= @article.publication.client.client_name %>: <%= @article.publication.pub_name %> </p>

Link: <a href="<%= @article.link %>" target="_blank"><%= @article.link %></a>
<hr>

<%= render 'form', article: @article %>

<hr>
<div>
	<%= link_to 'CANCEL & RETURN', root_path , class: 'button' %>
	
	  <%= link_to 'DELETE THIS ARTICLE', article_path, class: 'scarybutton', method: :delete, data: {confirm: "Are you sure you want to delete #{@article.caption}?"} %>
  
</div>
