<h1>Editing Topic: <i style="color: blue"><%= @topic.caption %></i> </h1>

<%= render 'form', topic: @topic %>

<!-- LISTING THE ARTICLES FOR THIS TOPIC,IF PRESENT -->
<% if @topic.articles.present? %>
	<hr>
	<%= @topic.topic_articles.count %> articles on this topic
	<ol>
		<% @topic.topic_articles.intra_topic_ordered.each do |article| %>
		<li>
			<%= link_to article.linkcaption, edit_article_path(article) %>
			<strong>[ <%= article.publication.client.client_name %>: 
			<%= article.publication.pub_name %> ]</strong>
			<i style="color: blue"><%= article.caption %> </i>
			<a href="<%= article.link %>" target="_blank"><%= article.link %></a>
		</li>
	<% end %>
	</ol>
<% end %>

<!-- IF ADMIN AND NO ARTICLES, TOPIC MAY BE DELETED -->
<div>
	<% if current_user_admin? && @topic.articles.empty? %>
		<br><br><br><br>
		<hr>
		Since the topic <i style="color: blue"><%= @topic.caption %></i> has no articles, you may <br>
		<%= link_to 'DELETE THIS TOPIC', super_topic_topic_path(@topic.super_topic, @topic), class: 'scarybutton', method: :delete, data: {confirm: "Are you sure you want to delete #{@topic.caption}?"} %>
  <% end %>
</div>