<h1>Editing Topic: <i style="color: blue"><%= @topic.caption %></i> </h1>

<%= render 'form', topic: @topic %>
<hr>
Articles with this topic
<% @topic.topic_articles.each do |article| %>

	<p>
		<%= link_to article.linkcaption, edit_article_path(article) %>
		<i style="color: blue"><%= article.caption %> </i>
		<%= article.publication.client.client_name %> 
		<%= article.publication.pub_name %> 
		<a href="<%= article.link %>" target="_blank"><%= article.link %></a>
		
	</p>
<% end %>

<hr>
<div>
	<%= link_to 'CANCEL & RETURN', root_path , class: 'button' %>
	<% if current_user_admin? %>
		<%= link_to 'DELETE THIS TOPIC', super_topic_topic_path(@topic.super_topic, @topic), class: 'scarybutton', method: :delete, data: {confirm: "Are you sure you want to delete #{@topic.caption}?"} %>
  <% end %>
</div>